<div class="form-holder">

<h1>Edit Daily Flow Chart Form</h1>
<br>
<br>
     <br>

       <p class="text-left"></p>
        
       <p class="text-left background2"></p>
       <div class="form-body">
         <div class="row">
             <div class="form-content ">

<%= form_with url: "http://localhost:5000/api/v1/users/daily_flow_chart?email=#{@user_email}", method: :patch, local: true do |f| %>

<p class="foot text-white text-center">
                  <%= f.label :date%>
                  <%= f.date_field :date, value: Date.today %>
                  <br>
                  <div class="form-items opaque">
                  <%= f.label :bloating%>
                  <%= f.select :bloating, ['Yes', 'No'] %>
                  <br>
                  <%= f.label :cramps%>
                  <%= f.select :cramps, ['Yes', 'No'] %>
                  <br>
                  <%= f.label :flow_status%>
                  <%= f.select :flow_status, ['Light', 'Moderate', 'Heavy'] %>
                  <br>
                  <%= f.label :emotion, "How are you feeling emotionally?"%>
                  <%= f.text_field :emotion, value: "Fill in" %>
                  <br>
                  
                  <%= f.submit "Submit" %>
                <% end %>


                   </div>
               </div>
           </div>
       </div>
   </div>
