
<h1>Edit Daily Flow Chart</h1>
<br>     
<br>
     <br>
       <p class="text-left"></p>
        
<%= form_with url: "/flowchart/update", method: :patch, local: true do |f| %>
<p class="foot text-white text-center">
                  <%= f.label :date%>
                  <%= f.date_field :date %>
                  <br>
                  <%= f.label :bloating%>
                  <%= f.select :bloating, ['Yes', 'No'] %>
                  <br>
                  <%= f.label :cramps%>
                  <%= f.select :cramps, ['Yes', 'No'] %>
                  <br>
                  <%= f.label :flow_status%>
                  <%= f.select :flow_status, ['Light', 'Moderate', 'Heavy'] %>
                  <br>
                  <br>
                  <%= f.label :emotions, "How are you feeling?"%>
                  <%= f.text_area :emotions %>
                  <br>
                  <%= f.submit "Submit" %>
                <% end %>
                </p>