<br><div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-left h-100">
    <div class="col-xl-10 disp">
      <div class="card rounded-1 text-black d-flex justify-content-center background2">
        <br><h1 style="color:red">Astroflow</h1>
          <div class="col-lg-6 mx-md-auto">
            <div class="card-body p-md-5 mx-md-4">

              <div class="text-left">

                <h4 class="mt-1 mb-5 pb-1">Fill out this information to proceed.</h4>

              </div>
              <form>
                <p class="text-left"></p>
              <p style="color:white"><%= form_with url: '/register', method: :patch, local: true do |f| %>
                  <%= f.label :name %>
                  <%= f.text_field :name  %>
                  <%= f.label :date_of_birth %>
                  <%= f.date_field :dob%>

                  <%= f.submit %>
                <% end %>


  <br>
  <form>
    </div>

                <div class="d-flex align-items-left  pb-4">
                  <div class="row rt">

                </div>
              <p class="foot text-white text-center">We don't post ya personal information.</p>


            </div>
          </div>

      </div>

    </div>
