<a id="button" class="button-left"><%= button_to "Edit profile here", "/register", method: :get %></a>
<br><h1 id="dashboard-welcome"> Welcome <%= @user.name %>! </h1>
<div id="dashboard" class="dash-main">

  <div id="personal-info" class="container text_color display-padding2">
    <h3>Daily Horoscope</h3>
    <h4><%= @horoscope.date %></h4>
    <br>
   <%= @horoscope.description %>

  </div>
  <div id="horoscope-stuff" class="container text_color display-padding">
    <h3>Todays Vibes</h3>
    <h5>Mood: <%= @horoscope.mood %></h5>
    <h5>Lucky Number: <%= @horoscope.lucky_number %></h5>
  </div>
</div>
