<!DOCTYPE html>
<html>
  <head>
    <title>AstroflowFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light nav_space">
      <a class="navbar-brand" href="#">Site Navigation:</a>
      <% if !current_user %>
      <a class="nav-item nav_space" href="/auth/google_oauth2">Sign or Log In</a>
      <% else %>
        <a class="nav-item nav_space"> <%= button_to "Dashboard", "/dashboard", method: :get %></a>
        <a class="nav-item nav_space"><%= button_to "Log Out", "/logout", method: :get %></a>
        <a class="nav-item nav_space"><%= button_to "Flowchart", "/flowchart", method: :get %></a>
        <a class="nav-item nav_space"><%= button_to "Edit profile here", "/edit", method: :get %></a>
        <%end%>
    </nav>
    <%= yield %>
  </body>
</html>
